<div id="buttons-wrapper" style="display: flex; flex-direction: row; justify-content: flex-end;">
    <button-default label="Adicionar +" routerLink="newEmployee"></button-default>
</div>
    <div *ngIf="employees.length > 0" class="cards-container">
        <div *ngFor=" let employee of employees">
            <app-card
                [img]=employee.imageUrl
                [label]=employee.name
                [description]="employee.jobTitle"
                [employee-id]="employee.id"
                [email]=employee.email
                [phone]=employee.phone
                [salary]="employee.salary"
            ></app-card>
        </div>
    </div>
    <div *ngIf="employees.length < 1">
        Nenhum funcionário encontrado
    </div>


