.cards-container{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-gap: 12px;
}

@media screen and (max-width:700px) {
    .cards-container{
        grid-template-columns: 70%;
    }
}

@media screen and (min-width:700px){
    .cards-container{
        grid-template-columns: 40% 40%;
    }
}

@media screen and (min-width:1000px){
    .cards-container{
        grid-template-columns: 27% 27% 27%;
    }
}

@media screen and (min-width:1200px){
    .cards-container{
        grid-template-columns: 22% 22% 22% 22%;
    }
}