.default-button{
    border: none;
    width: 120px;
    height: 24px;
    border-radius: 8px;
    cursor: pointer;
}

.white-borderer{
    border: 1px solid;
    background-color: white;
    border-color:  gray;
}
.white-borderer:hover{
    background-color: gray;
    color: white;

}